@mixin l-normal-flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin l-normal-grid($justify-content, $align-items, $justify-items) {
  display: grid;
  place-content: $align-items $justify-content;
  justify-items: $justify-items;
}
