<footer class="footer">
 <div class="normal-flex-rcc">
  <article class="section-article">
    <h4>Free Shipping</h4>
    <p>Get 2-day free shipping anywhere in North America.</p>
  </article>
  <article  class="section-article">
    <h4>2 years warranty</h4>
    <p>If anything goes wrong in the first two years, we'll replace it for free.</p>
  </article>
</div>

<div class="normal-flex-rcc">
  <article class="section-article">
    <h2>${{SrvPrice.priceFeature + SrvPrice.priceWarranty + 295.95}}</h2>
    <p >Need financing? Learn more</p>
  </article>
  
  <section>
    <button class="class-button bg-primary">Buy now</button>
  </section>
</div>
</footer>