
.header {
  
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
    border-bottom:  1px solid rgba(238, 239, 242);
  }
  

