.ov-hidden {
  overflow: hidden;
}
.ov-scroll {
  overflow: scroll;
}
.ov-auto {
  overflow: auto;
}
.ov-x-hidden {
  overflow-x: hidden;
}
.ov-x-scroll {
  overflow-x: scroll;
}
.ov-x-auto {
  overflow-x: auto;
}
.ov-y-hidden {
  overflow-y: hidden;
}
.ov-y-scroll {
  overflow-y: scroll;
}
.ov-y-auto {
  overflow-y: auto;
}
